/*根据他的宽高来设置每一帧的所占的比例   100% / 14  ~= 7.15     */
@-webkit-keyframes wlsbAnimate {/*创建动作   from  to /  0  100*/
    0% {
        background-position: -0px -0px;
    }
    5%{
        /* background-position: -1920px -0px; */
    }
    10%{
        background-position: -0 -320px;
    }
    15%{
        /* background-position: -1920px -320px; */
    }
    20%{
        background-position: -0px -640px;
    }
    25%{
        /* background-position: -1920px -640px; */
    }
    30%{
        background-position: -0px  -960px;
    }
    35%{
        /* background-position: -1920px -960px; */
    }
    40%{
        background-position: -0px -1280px;
    }
    45%{
        /* background-position: -1920px -1280px; */
    }
    50%{
        background-position: -0px -1600px;
    }
    55%{
        /* background-position: -1920px -1600px; */
    }
    60%{
        background-position: -0px -1920px;
    }
    65%{
        /* background-position: -1920px -1920px; */
    }
    70%{
        background-position: -0px -2240px;
    }
    75%{
        /* background-position: -1920px -2240px; */
    }
    80%{
        background-position: -0px  -2560px;
    }
    85%{
        /* background-position: -1920px -2560px; */
    }
    90%{
        background-position: -0px -2880px;
    }
    
    95%{
        /* background-position: -1440px -2880px; */
    }
    100%{
        background-position: -0px  -3200px;
    }
}
.wlsb-wrap{
    position: relative;
    height: 100%;
}
.wlsb-content{
    margin: 0 auto;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 320px; 
    width: 480px;

    -webkit-animation: wlsbAnimate 2s steps(1) infinite;/*动作name 时间    分几步     循环*/
    backface-visibility:hidden;
    background-size: contain;
    background: url('~@/assets/images/wlsb/icon_yuanquqixiang.png')  no-repeat 100%;
}
.wlsb-title{
    color:#00E6FE;
    text-align: center;
    line-height: 320px;
}
.wlsb-content-info{
    text-align: center;
    color:#fff;
    font-size: 14px;
    margin-bottom: 0;
    p{
        &:last-child{
            font-size: 22px;
            color:#00E6FE;
            margin: 0;
            line-height: 1;
        }
    }
}
.wlsb-content-info-top {
    .wlsb-content-info{
        position: absolute;
        top:79px;
        &:first-child{
            left: 83px;
        }
        &:last-child{
            right: 83px;
        }
    }
}
.wlsb-content-info-bottom{
    .wlsb-content-info{
        position: absolute;
        bottom: 66px;
        &:first-child{
            left: 47px;
        }
        &:last-child{
            right: 47px;
        }
    }
}